/* Colors */
$background-color: #1d1d1d;
$navbar-color: #181818;
$light-grey: #e5e5e5;
$brand-color: #74f7d9;
$red-color: #e10b17;

/* spacing */
$global-spacing: 1rem;

/* Fonts */
$heading: 'Roboto Mono', monospace;
$massText: 'Roboto', sans-serif;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

/* Max Width on desktop */
$max-width: 768px;
